.column-container {
  padding: 0;
}


.column-container > h5 {
  background-color: #1b4332;
  color: white;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

p {
  padding: 0 0.8rem;
  text-align: justify;
}

.column-container > h4 {
  background-color: #1b4332;
  border-radius: 0 2rem 2rem 0;
  color: white;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.column-container > h6 {
  background-color: #2D6A4F;
  border-radius: 0 2rem 2rem 0;
  color: white;
  padding: 0.3rem 0.7rem 0.3rem 0.5rem;
  display: inline;
}

.recomendation-container {
  margin-bottom: 3.8rem;
  overflow-x: auto;
}

.copied-link-span {
  color: rgb(3, 143, 3);
  position: absolute;
  right: 15%;
}

.col-icons {
  padding: 0.5rem 0;
}
