.header-container {
  background-color: var(--default-header-bg);
  height: 50px;
  color: #D8F3DC;
}

/* .content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
} */

/* .content-container h2 {
  padding-left: 10px;
  padding-right: 10px;
} */

/* .button {
  background-color: var(--default-header-bg);
  border: none;
} */